// override bootstrap
@import "variables";

// import bootstrap
@import "bootstrap/scss/bootstrap";

// our own styles
.usp {
	display: flex;
	flex-direction: column;

	.content {
		background-color: #ddd;
		flex-grow: 1;
		// align-self: stretch;
	}
}
